@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #030303;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    background-color: #363636;
    display: flex;
}

h1 {
    color: whitesmoke;
    align-self: center;
    margin-left: 28rem;
}

.search {
    margin: 3rem;
    margin-left: 12rem;
    background-color: transparent;
    border: 2px solid #e9e9ec;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    background-color: #050505;
    outline: none;
}